<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="dossier de malade form" />
    <meta name="author" content="" />
    
    <!-- <link rel="icon" href="Assets/icon16x16.png"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="index.css"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/logo/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/logo/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/logo/favicon-16x16.png">
        <link rel="manifest" href="/images/logo/site.webmanifest">
    <title>Urgence</title>
</head>
<body>
    <%- include('urgenceHome'); -%>


    
        <div class="container">
            <% if(erM.length>0){ %>
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                        <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                    <div>
                        &nbsp;<%=erM%>
                    </div>
                </div>
                <%}%>
            <div class="row" >
                <% for(let i = 0; i < rows.length ; i++) {%>
                    <div class="col-lg-4">
                        <div class="card" style="width: 18rem; margin-top: 20px; height: 15rem;">
                            <div class="card-body">
                              <h5 class="card-title"><%= rows[i].nom +' ' +rows[i].prenom %></h5>
                              <h6 class="card-subtitle mb-2 text-muted">id : <%= rows[i].idMalade %></h6>
                              <p class="card-text">
                                  <ul>
                                    <li>Date de naissance :<br> <%=rows[i].dateDeNaissance.getDate() %>/
                                        <%=rows[i].dateDeNaissance.getMonth()+1 %>/
                                        <%=rows[i].dateDeNaissance.getFullYear() %></li>
                                    <li>Sexe : <%=rows[i].sexe %></li>
                                  </ul>
                              </p>
                              <a href="/emergency/patient/<%=rows[i].idMalade%>/donneesAdministratives" class="btn btn-outline-primary">Dossier</a>
                            </div>
                          </div>
                    </div>
                <% } %>
            </div>
        </div>

    
    
    
    
    
    
        
        
</body>
    
</html>
    