<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="dossier de malade form" />
    <meta name="author" content="" />
    
    <!-- <link rel="icon" href="Assets/icon16x16.png"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="index.css"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/logo/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/logo/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/logo/favicon-16x16.png">
        <link rel="manifest" href="/images/logo/site.webmanifest">
    <title>Mon profil</title>
</head>
<body>
    <%- include('urgenceHome'); -%>


    
    <div class="container rounded bg-light bg-gradient">
        <div class="row">
            <div class="col-md-3 border-right">
                <% if(rows[0].photoPathProfession!=null) { %>
                <div class="d-flex flex-column align-items-center text-center p-3 py-3"><img class="rounded-circle mt-5" width="150px" src="<%=rows[0].photoPathProfession%>"><span class="font-weight-bold"><%=rows[0].nom%> <%=rows[0].prenom%></span><span class="text-black-50"><%=rows[0].matricule%></span><span> </span></div>
                <% }else{ %>
                    <div class="d-flex flex-column align-items-center text-center p-3 py-3"><img class="rounded-circle mt-5" width="150px" src="https://t4.ftcdn.net/jpg/04/10/43/77/360_F_410437733_hdq4Q3QOH9uwh0mcqAhRFzOKfrCR24Ta.jpg"><span class="font-weight-bold"><%=rows[0].nom%> <%=rows[0].prenom%></span><span class="text-black-50"><%=rows[0].matricule%></span><span> </span></div>
                <% } %>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profil</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Numéro de téléphone</label><br><div class="text-muted"><%=rows[0].numTelephone%></div></div>
                        <div class="col-md-6"><label class="labels">Date de naissance</label><br><div class="text-muted"><%if(rows[0].dateDeNaissance.getDate()<10){%>0<%=rows[0].dateDeNaissance.getDate()%><%}else{%><%=rows[0].dateDeNaissance.getDate()%><% } %>-<%if(rows[0].dateDeNaissance.getMonth()+1<10){%>0<%=rows[0].dateDeNaissance.getMonth()+1%><%}else{%><%=rows[0].dateDeNaissance.getMonth()+1%><% } %>-<%=rows[0].dateDeNaissance.getFullYear()%></div></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Date de registre</label><br><div class="text-muted"><%if(rows[0].dateDeRegistre.getDate()<10){%>0<%=rows[0].dateDeRegistre.getDate()%><%}else{%><%=rows[0].dateDeRegistre.getDate()%><% } %>-<%if(rows[0].dateDeRegistre.getMonth()+1<10){%>0<%=rows[0].dateDeRegistre.getMonth()+1%><%}else{%><%=rows[0].dateDeRegistre.getMonth()+1%><% } %>-<%=rows[0].dateDeRegistre.getFullYear()%></div></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <% if(rows[0].email!=null){ %>
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center experience"><span>Compte</span><a class="btn btn-success tooltip-test" title="Modifier les informations du compte" style="width: 40px; height: 40px;" href="#" data-bs-toggle="modal" data-bs-target="#editAccModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg></a></div><br>
                        <div class="col-md-6"><label class="labels">Email</label><br><div class="text-muted"><%=rows[0].email%></div></div>
                        
                      </div>
                <% }else{ %>
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center experience"><span>Compte</span></div><br>
                        <div class="col-md-12">
                            <div class="alert alert-primary d-flex align-items-center" role="alert">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                  </svg>
                                <div>
                                    &nbsp; Ce profil n'a pas de compte
                                </div>
                              </div>
                        </div>
                    </div>
                <% } %>
                
            </div>
        </div>
    </div>
    <!-- editAccModal -->
    <div class="modal fade" id="editAccModal" tabindex="-1" aria-labelledby="editAccModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editAccModalLabel">Modifier les informations du compte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/inf/myProfile/editAcc" method="POST">
                    <div class="modal-body">
                        <div class="container">
                          <div class="row mb-2">
                              <input type="tel" class="form-control" name="numTelephone" placeholder="Numéro de téléphone" id="numTelephone">
                          </div>
                          <div class="row mb-2">
                              <input type="email" class="form-control" name="email" placeholder="email" id="email">
                          </div>
                          <div class="row mb-2">
                              <input type="password" class="form-control" name="password" placeholder="Mot de passe" id="password">
                          </div>
                          <div class="row mb-2">
                              <input type="text" class="form-control" name="picture" placeholder="Votre lien d'image" id="picture">
                          </div>
                        </div>
                        <div class="modal-footer">
                          <div class="row text-muted">si vous laissez un champ cela ne changera pas</div>
                          <div class="row"><button type="button" class="btn btn-secondary col m-1" data-bs-dismiss="modal">Fermer</button>
                              <button type="submit" class="btn btn-primary col m-1">Modifier</button></div> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
    
    
    
    
    
        
        
</body>
    
</html>
    